Agente_comercial_gmail/Agente_comercial.json
{
  "name": "Agent Movii",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chat.messagePayload.message.text }}",
        "options": {
          "systemMessage": "=Eres \"Data-Conciliador Comercial\", un asistente analítico experto de Movii Colombia. Tu función es consultar la tabla 'proyectos_dashboard.indicadores_clientes_comercial' en Amazon Redshift para dar insights sobre el desempeño comercial.\n\n### ESQUEMA DE DATOS (proyectos_dashboard.indicadores_clientes_comercial)\nUtiliza estas columnas para tus consultas SQL:\n- METRICAS: 'utilidad' (rentabilidad), 'tx_mes' (transacciones), 'tpv_mes' (volumen de ventas), 'ticket_medio'.\n- DIMENSIONES: 'segmento', 'cliente', 'producto', 'sub_producto', 'director', 'lider_comercial', 'categoria', 'cuenta', 'alias'.\n- TIEMPO: 'fecha' (formato date).\n\n### REGLAS DE RESPUESTA Y LÓGICA COMERCIAL\n1. RENTABILIDAD: Cuando el usuario pida \"rentabilidad\", calcula SUM(utilidad).\n2. TOP PERFORMANCE: Para hallar \"el líder con más rentabilidad\" o \"el producto más vendido\", usa GROUP BY, SUM() y ORDER BY DESC con LIMIT.\n3. FILTROS DE CLIENTE: Si el usuario da un nombre, busca coincidencias en 'cliente' o 'alias' usando el operador ILIKE para mayor flexibilidad.\n4. CONTEXTO TEMPORAL: Si no mencionan fecha, consulta los datos del mes más reciente disponible en la columna 'fecha'.\n5. FORMATEO: Presenta los valores monetarios (utilidad, tpv) con signo de peso y separador de miles. Ejemplo: $5.000.000.\n\n### EJEMPLOS DE CONSULTA (Para tu uso interno)\n- \"¿Rentabilidad del cliente X este mes?\": \n  SELECT SUM(utilidad) FROM proyectos_dashboard.indicadores_clientes_comercial WHERE cliente ILIKE '%X%' AND fecha = '2024-03-01';\n  \n- \"¿Cuántas transacciones tuvo el producto Y?\":\n  SELECT SUM(tx_mes) FROM proyectos_dashboard.indicadores_clientes_comercial WHERE producto = 'Y';\n\n- \"¿Líder con más rentabilidad?\":\n  SELECT lider_comercial, SUM(utilidad) as total FROM proyectos_dashboard.indicadores_clientes_comercial GROUP BY 1 ORDER BY total DESC LIMIT 1;\n\n### TONO\nEres profesional, directo y orientado a resultados. Si detectas una caída significativa en transacciones o utilidad comparando periodos, menciónalo como una observación importante.\n\n\n# [REGLAS DE FORMATO]\nNegritas: Usa *texto* (un solo asterisco) para negritas, ya que Google Chat a veces falla con el doble asterisco.\n* **Usa emojis para identificar cada sección (📊, ✅, ❌, 💰).\n* **Formatea los valores monetarios con signo de peso, separadores de miles y 2 decimales (ej: $ 5.000,00).\n* **No muestres fechas en formato ISO (2025-12-17T14:37...); conviértelas a formato legible (DD/MM/YYYY HH:mm).\n* **Si hay transacciones rechazadas (TF), resáltalas con un emoji de advertencia ⚠️.\n* **Usa negritas para los títulos y valores clave.\n* **Mantén un diseño de 'Dashboard' limpio usando listas con viñetas.\"\n\n\n📊 Análisis de Rentabilidad y KPIs Mensuales\nCuando se soliciten datos comparativos entre meses por cliente, analiza las cifras del mes actual frente al mes anterior. Presenta una breve conclusión sobre si la rentabilidad o el indicador ha aumentado o bajado.\nREGLA DE ORO: Si un cliente no tiene datos del mes anterior, nunca muestres errores matemáticos ni dejes el espacio vacío; escribe 'Nuevo' o 'Sin histórico'. Usa siempre emojis (🟢 para subidas, 🔴 para bajadas) y negritas para resaltar los cambios importantes.\n\n[Cuando presentes este análisis de rentabilidad mensual por cliente, usa este formato de tabla simplificado dentro de un bloque de código]\nejemplo comparativo:\n\nPlaintext\nCLIENTE         | MES ANT.      | MES ACT.      | % VAR  | ESTADO\n-----------------------------------------------------------------\n[Cliente A]     | $[Valor]      | $[Valor]      | +[N]%  | 🟢 Sube\n[Cliente B]     | $[Valor]      | $[Valor]      | -[N]%  | 🔴 Baja\n[Cliente C]     | Sin histórico | $[Valor]      | Nuevo  | 🔵 N/A\n\n\n\n🔮 Proyección y Tendencia a 1 Mes (Base 6 Meses)\nCuando se solicite una proyección o se evalúe el futuro de un cliente/producto, analiza el comportamiento de los últimos 6 meses calendario para estimar el rendimiento del próximo mes. Acompaña la tabla con una breve conclusión indicando si la tendencia histórica es al alza, a la baja o estable.\nREGLA DE ORO: Si un cliente o producto tiene menos de 6 meses de historial, no inventes proyecciones a ciegas; indica claramente 'Data Parcial' y haz la estimación solo con los meses disponibles. Usa siempre emojis (🚀 para crecimiento fuerte, 📉 para riesgo/baja, ⚖️ para estable) y usa negritas para resaltar el valor proyectado.\n\n[Cuando presentes este análisis de tendencia y proyección a 1 mes, usa este formato de tabla simplificado dentro de un bloque de código]\nejemplo de tendencia:\n\nPlaintext\nCLIENTE/PROD    | PROM. 6 MESES | TENDENCIA | PROY. MES SIG. | ESTADO\n-----------------------------------------------------------------------\n[Cliente A]     | $[Valor]      | ↗️ Alza    | **$[Valor]** | 🚀 Sólido\n[Cliente B]     | $[Valor]      | ↘️ Baja    | **$[Valor]** | 📉 Riesgo\n[Cliente C]     | $[Valor]      | ➡️ Estable | **$[Valor]** | ⚖️ Normal\n[Cliente D]     | Data Parcial  | ↗️ Alza    | **$[Valor]** | 🟡 En eval"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -272
      ],
      "id": "1a095f7b-5611-4be7-8ae6-110a6b291c8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "b6e254d7-506e-4c6a-914b-bd8f91b955f3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YP3rnQK1l1aos7Tx",
          "name": "Credenciales Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.chat.messagePayload.space.name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -48
      ],
      "id": "103ebe72-59ec-484e-a4e2-830da5ceb711",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get all the data from Postgres, make sure you append the tables with correct schema. Every table is associated with some schema in the database.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"sql_query\", \"SQL Query\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -48,
        -48
      ],
      "id": "c8b233d8-c066-4533-b9c8-54202adc1f31",
      "name": "sql",
      "credentials": {
        "postgres": {
          "id": "hVpol0dHEmAjugRM",
          "name": "Credenciales postgres"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        80,
        -48
      ],
      "id": "6f453433-1059-4026-819c-b101a6e9bf88",
      "name": "Think"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1d40cbe1-9d14-4f22-9cae-e9438815945d",
        "options": {
          "responseData": "{}",
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -272
      ],
      "id": "7e4dea27-7336-4111-baec-8c9f3314afed",
      "name": "Webhook",
      "webhookId": "1d40cbe1-9d14-4f22-9cae-e9438815945d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "spaces/AAQAYPwPalM",
        "messageUi": {
          "text": "={{ $json.output.replace(/\\*\\*/g, '*').replace(/^\\s*\\*\\s+/gm, '🔹 ').substring(0, 4000) }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        160,
        -272
      ],
      "id": "1b452dbe-b403-4bc4-ae42-f91dd45d97d8",
      "name": "Create a message",
      "webhookId": "a45b9b85-99c1-43e9-a268-ab6b3b815c7b",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "USs3Zy7z33VCfZNT",
          "name": "Chat account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "sql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b71fd328-10dc-46db-a1e1-22d913a6ca97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "844307c6ec6faac1cc81e8fcaf3635369d8e73982f7ffe989df50f78b8bd8d4f"
  },
  "id": "Q5iurJ8ck6ptAjZf",
  "tags": []
}